<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">

<label for="name">Name of the model</label>
<input name="name" type="text" class="name" id="name">

<label for="propellers">Number of propellers</label>
<input name="propellers" type="number" class="propellers" id="propellers">

<label for="maxSpeed">Top speed</label>
<input name="maxSpeed" type="Number" class="maxSpeed" id="maxSpeed">

<button type="submit" class="btn">Submit</button>
</form>

